{
    margin: 0px;
    padding:0px;
}
.container{
    margin-top: 50px;
   /* margin-left:300px;
    margin-right: 300px;*/
    padding: 15px;
    border: solid black;
    width: 500px;
}
body {
    display: grid;
    place-content: center;
}

.container .title h3{
    margin-bottom: 10px;
}