*{
    margin: 6px;

}
.personal img{
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;	
    
    }
    .main  {
        margin:10px;
        height:100%;
        width:370px;	   
    }
    .table{
        height:100%;
        width:100%;
          
    }
    input[type="submit"] {
        -moz-appearance: button;
        -moz-binding: none;
        -moz-box-sizing: border-box;
        -moz-user-select: none;
        background-color: buttonface;
        border: 2px outset buttonface;
        color: buttontext;
        cursor: default;
        font: -moz-button;
        line-height: normal;
        padding: 0 6px;
        text-align: center;
        text-shadow: none;
        white-space: pre;
    }
.list{
margin-left:0px ;
margin-top: 5px;
margin-bottom: 5px;
}
#name{
    padding-left: 40px;
}